<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button routerLink="/create-empleado" class="btn btn-md text-light 
            btn-success float-end">
                Agregar
            </button>
            <table 
              class="table table-dark table-striped 
              table-hover mt-5 "
            >
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Documento</th>
                    <th>Salario</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="let empleado of empleados"
                  >
                    <td>{{empleado.nombre}}</td>
                    <td>{{empleado.apellido}}</td>
                    <td>{{empleado.documento}}</td>
                    <td>{{empleado.salario | currency}}</td>
                    <td><i [routerLink]="['/edit-empleado/', empleado.id]" class="fas fa-edit text-info"></i></td>
                    <td><i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt text-danger"></i></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>