// Importamos toastr
@import '~ngx-toastr/toastr'

*
    margin: 0
    padding: 0

body
    background: url('./assets/fondo1.jpg')
    background-size: 150%
    height: 100%
    background-repeat: no-repeat
    background-position: center